ip: 192.168.10.30
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    - map: ~/Sites/pastebin
      to: /home/vagrant/code
sites:
    - map: pastebin.test
      to: /home/vagrant/code/public
databases:
    - homestead
name: pastebin
hostname: pastebin
