ip: 192.168.10.30
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    - { map: ~/PhpstormProjects/pastebin, to: /home/vagrant/pastebin }
sites:
    - { map: pastebin.app, to: /home/vagrant/pastebin/public }
databases:
    - homestead
name: pastebin
hostname: pastebin